<!-- HEADER -->

<!-- MAIN -->
<div class="background">
  <main>
    <div class="py-5 mt-5 hero-pages">
      <img
        src="../assets/img/products/hardware/hero-hardware.jpg"
        alt="Peças de computador espalhadas..."
      />
    </div>
    <section>
      <div class="container py-4">
        <div class="pb-3 mb-4 border-bottom">
          <span class="fs-4 text-white"
            ><i class="bi bi-cpu me-3"></i> Hardware</span
          >
        </div>

        <div>
          <div class="row row-cols g-4 mt-3 py-3">
            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/hardware/13362_index_m.jpg"
                  class="card-img-top"
                  alt="memória ram"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/hardware/48575_index_m.jpg"
                  class="card-img-top"
                  alt="fonte pc evea"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/hardware/78570_index_m.jpg"
                  class="card-img-top"
                  alt="cooler"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/hardware/95539_1_1521480272_m.jpg"
                  class="card-img-top"
                  alt="ssd sandisk"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/hardware/placa-de-video-asus-rog-strix-nvidia-geforce-rtx-3090-24gb-gddr6-rog-strix-rtx3090-o24g-white_1607515364_m.jpg"
                  class="card-img-top"
                  alt="placa-de-video-asus-rog-strix-nvidia-geforce-rtx-3090-24gb-gddr6-rog-strix-rtx3090-o24g-white_1607515364_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/hardware/placa-de-video-asus-tuf-gaming-radeon-rx-6900-xt-16-gbps-16gb-gddr6-tuf-rx6900xt-o16g-gaming_1608039074_m.jpg"
                  class="card-img-top"
                  alt="placa-de-video-asus-tuf-gaming-radeon-rx-6900-xt-16-gbps-16gb-gddr6-tuf-rx6900xt-o16g-gaming_1608039074_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/hardware/placa-de-video-gigabyte-aorus-amd-radeon-rx-6900-xt-master-16g-rev-2-0-rgb-gddr6-gv-r69xtaorus-m-16gd_1639151953_m.jpg"
                  class="card-img-top"
                  alt="placa-de-video-gigabyte-aorus-amd-radeon-rx-6900-xt-master-16g-rev-2-0-rgb-gddr6-gv-r69xtaorus-m-16gd_1639151953_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/hardware/placa-de-video-zotac-gaming-nvidia-geforce-rtx-2060-6gb-gddr6-zt-t20600h-10m_1582213398_m.jpg"
                  class="card-img-top"
                  alt="placa-de-video-zotac-gaming-nvidia-geforce-rtx-2060-6gb-gddr6-zt-t20600h-10m_1582213398_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/hardware/placa-mae-asrock-b450m-steel-legend-amd-am4-matx-ddr4-90-mxb9y0-a0uayz_placa-mae-asrock-b450m-steel-legend-amd-am4-matx-ddr4-90-mxb9y0-a0uayz_1552586908_m.jpg"
                  class="card-img-top"
                  alt="placa-mae-asrock-b450m-steel-legend-amd-am4-matx-ddr4-90-mxb9y0-a0uayz_placa-mae-asrock-b450m-steel-legend-amd-am4-matx-ddr4-90-mxb9y0-a0uayz_1552586908_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/hardware/placa-mae-asus-para-amd-am4-matx-prime-b450m-gaming-br-ddr4__1545143134_m.jpg"
                  class="card-img-top"
                  alt="placa-de-video-asus-rog-strix-nvidia-geforce-rtx-3090-24gb-gddr6-rog-strix-rtx3090-o24g-white_1607515364_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/hardware/processador-amd-ryzen-5-3600-cache-32mb-3-6ghz-4-2ghz-max-turbo-am4-100-100000031box_processador-amd-ryzen-5-3600-cache-32mb-3-6ghz-4-2ghz-max-turbo-am4-100-100000031box_1562606710_m.jpg"
                  class="card-img-top"
                  alt="processador-amd-ryzen-5-3600-cache-32mb-3-6ghz-4-2ghz-max-turbo-am4-100-100000031box_processador-amd-ryzen-5-3600-cache-32mb-3-6ghz-4-2ghz-max-turbo-am4-100-100000031box_1562606710_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/hardware/processador-intel-core-i7-9700k-coffee-lake-refresh-9a-geracao-cache-12mb-3-6ghz-max-turbo-4-9ghz-lga-1151-bx80684i79700k_1539805304_m.jpg"
                  class="card-img-top"
                  alt="processador-intel-core-i7-9700k-coffee-lake-refresh-9a-geracao-cache-12mb-3-6ghz-max-turbo-4-9ghz-lga-1151-bx80684i79700k_1539805304_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- FOOTER -->
</div>
