<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center me-4" routerLink=""
        ><i class="bi bi-controller p-2"></i>
        Game Mania
      </a>
      <button
        class="navbar-toggler me-4"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse text-white"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink=""
              ><i class="bi bi-house ms-5 p-2"></i>Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/games"
              ><i class="bi bi-joystick p-2"></i>Jogos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pc-gamer"
              ><i class="bi bi-pc-display p-2"></i>PC Gamer</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/hardware"
              ><i class="bi bi-cpu p-2"></i>Hardware</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about"
              ><i class="bi bi-person p-2"></i>Sobre Nós</a
            >
          </li>
        </ul>

        <div class="text-center mb-2">
          <a routerLink="/login"
            ><button type="button" class="btn btn-outline-light mt-3 p-2 me-3">
              Entrar
            </button></a
          >
          <a routerLink="/register"
            ><button type="button" class="btn btn-outline-info mt-3 p-2">
              Cadasre-se
            </button></a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
