/* HEADER */

header {
  font-weight: bold;
  font-size: 1.3em;
}

header .btn-outline-light {
  width: 120px !important;
}
header .btn-outline-info {
  width: 120px !important;
}

header .btn {
  padding: 4px !important;
}

/* NAVBAR */

.navbar-collapse {
  background-color: #000;
  margin: 0 !important;
}

.navbar-brand {
  color: #e9e9e9 !important;
}

.nav-link {
  color: #e9e9e9 !important;
}
.nav-link:hover {
  color: #01cadc !important;
}

.navbar {
  height: 94px;
}

.bg-dark {
  background-color: #000 !important;
}

/* RESPONSIVE MODE */

@media (max-width: 1220px) {
  .navbar .bi {
    display: none !important;
  }
  .navbar .bi-controller {
    display: inline-block !important;
  }
  .navbar,
  .navbar > .container {
    padding: 0 !important;
    margin: 0 !important;
  }
  .navbar {
    height: 94px !important;
  }
  .bi-house {
    margin: 0 !important;
  }
  .navbar-togller {
    margin: 0 24px 0 0 !important;
  }
}

@media (max-width: 992px) {
  .navbar .bi {
    display: inline-block !important;
  }
}
