<footer class="container-fluid border-top bg-black text-white" id="footer">
  <div class="container">
    <div class="row">
      <!-- FOOTER TOP -->
      <div class="col-12" id="footer-top">
        <div class="row justify-content-between">
          <div class="col-sm-12 col-md-6 mb-sm-3">
            <h2>Game Mania</h2>
          </div>
          <div class="col-sm-12 col-md-6" id="social-icons">
            <a
              href="https://github.com/allanfarias1988"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-github"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/allanfarias1988/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-linkedin"></i
            ></a>
            <a
              href="https://twitter.com/allanfarias1988"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-twitter"></i
            ></a>
            <a
              href="https://www.instagram.com/allanfarias1988/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-instagram"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- FOOTER DETAILS -->
      <div class="col-12" id="footer-details">
        <div class="row">
          <div class="col-12 col-md-4" id="news-container">
            <h4>Receba as melhores ofertas</h4>
            <p class="secondary-color">Inscreva-se</p>
            <form>
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Digite o seu e-mail"
                />
              </div>
              <button class="btn btn-outline-light">Inscrever</button>
            </form>
          </div>
          <div class="col-12 col-md-4" id="contact-container">
            <h4>Formas de contato</h4>
            <p class="secondary-color">
              <i class="bi bi-whatsapp text-info me-2"></i> (73) 9999-9999
            </p>
            <p class="secondary-color">
              <i class="bi bi-google text-info me-2"></i>
              allan.digitaltec@gmail.com
            </p>
          </div>
          <div class="col-12 col-md-4" id="links-container">
            <div class="row">
              <h4>Você pode estar buscando por:</h4>
              <div class="col-12">
                <ul class="list-unstyled">
                  <li>
                    <a routerLink="/games" class="secondary-color"
                      ><i class="bi bi-joystick me-2"></i>Jogos</a
                    >
                  </li>
                  <li>
                    <a routerLink="/pc-gamer" class="secondary-color"
                      ><i class="bi bi-pc-display me-2"></i>PC Gamer</a
                    >
                  </li>
                  <li>
                    <a routerLink="/hardware" class="secondary-color"
                      ><i class="bi bi-cpu me-2"></i>Hardware</a
                    >
                  </li>
                  <li>
                    <a routerLink="/about" class="secondary-color"
                      ><i class="bi bi-person me-2"></i>Sobre nós</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FOOTER BOTTOM -->
      <div class="col-12" id="footer-bottom">
        <div class="row justify-content-center">
          <div class="col-12 col-md-3">
            <p class="secondary-color text-center">Game Mania &copy; 2022</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
