<!-- HEADER -->

<!-- MAIN -->
<div class="background">
  <main>
    <div class="py-5 mt-5 hero-pages">
      <img
        src="../assets/img/products/pc-gamer/hero-pc-gamer.jpg"
        alt="Computador Gamer completo"
      />
    </div>
    <section>
      <div class="container py-4">
        <div class="pb-3 mb-4 border-bottom">
          <span class="fs-4 text-white"
            ><i class="bi bi-pc-display me-3"></i> PC Gamer</span
          >
        </div>

        <div>
          <div class="row row-cols g-4 mt-3 py-3">
            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/pc-gamer/computador-gamer-onpress-powered-by-asus-i5-10400f-rgb-nvidia-geforce-gtx-1660-super-16gb-ssd-480gb-linux-preto-ong104ft66s16m482_1646941207_m.jpg"
                  class="card-img-top"
                  alt="computador-gamer-onpress-powered-by-asus-i5-10400f-rgb-nvidia-geforce-gtx-1660-super-16gb-ssd-480gb-linux-preto-ong104ft66s16m482_1646941207_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/pc-gamer/pc-gamer-concordia-amd-ryzen-5-3400g-rgb-8gb-ddr4-ssd-240gb-rgb-linux-preto-31724_1637670855_m.jpg"
                  class="card-img-top"
                  alt="pc-gamer-concordia-amd-ryzen-5-3400g-rgb-8gb-ddr4-ssd-240gb-rgb-linux-preto-31724_1637670855_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/pc-gamer/pc-gamer-concordia-processador-core-i5-10400f-rgb-gtx1650-8gb-ram-ssd-480-preto-32726_1647863305_m (1).jpg"
                  class="card-img-top"
                  alt="pc-gamer-concordia-processador-core-i5-10400f-rgb-gtx1650-8gb-ram-ssd-480-preto-32726_1647863305_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/pc-gamer/pc-gamer-ntc-powered-by-asus-amd-ryzen-5-5600g-8gb-ssd-512gb-500w-linux-vlcrz5600-8512_1627931804_m.jpg"
                  class="card-img-top"
                  alt="pc-gamer-ntc-powered-by-asus-amd-ryzen-5-5600g-8gb-ssd-512gb-500w-linux-vlcrz5600-8512_1627931804_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/pc-gamer/pc-gamer-redragon-arius-amd-rayzen-4700s-rgb-radeon-rx-550-2gb-ddr5-16gb-gddr6-ssd-256gb-windows-10-trial-preto-40628_1634309069_m (1).jpg"
                  class="card-img-top"
                  alt="pc-gamer-redragon-arius-amd-rayzen-4700s-rgb-radeon-rx-550-2gb-ddr5-16gb-gddr6-ssd-256gb-windows-10-trial-preto-40628_1634309069_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/pc-gamer/pc-gamer-skul-3000-intel-quad-core-i3-10100f-rgb-amd-radeon-rx-550-8gb-ddr4-ssd-240gb-linux-preto-g4704-120630_1644605124_m.jpg"
                  class="card-img-top"
                  alt="pc-gamer-skul-3000-intel-quad-core-i3-10100f-rgb-amd-radeon-rx-550-8gb-ddr4-ssd-240gb-linux-preto-g4704-120630_1644605124_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/pc-gamer/pc-gamer-skul-3000-quad-core-i3-10105f-rgb-vga-rx-550-8gb-ddr4-ssd-240gb-hd-1tb-linux-preto-g3822-120386_1644605269_m.jpg"
                  class="card-img-top"
                  alt="pc-gamer-skul-3000-quad-core-i3-10105f-rgb-vga-rx-550-8gb-ddr4-ssd-240gb-hd-1tb-linux-preto-g3822-120386_1644605269_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/pc-gamer/pc-gamer-skul-5000-hexa-core-i5-10400f-rgb-nvidia-geforce-gtx-1650-16gb-ddr4-ssd-240gb-linux-preto-g3904-120424_1644605529_m.jpg"
                  class="card-img-top"
                  alt="pc-gamer-skul-5000-hexa-core-i5-10400f-rgb-nvidia-geforce-gtx-1650-16gb-ddr4-ssd-240gb-linux-preto-g3904-120424_1644605529_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/pc-gamer/pc-gamer-top-concordia-processador-amd-ryzen-5-3400g-16gb-ssd-480gb-rgb-linux-preto-30642_1637669422_m.jpg"
                  class="card-img-top"
                  alt="pc-gamer-top-concordia-processador-amd-ryzen-5-3400g-16gb-ssd-480gb-rgb-linux-preto-30642_1637669422_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/pc-gamer/pc-gamer-top-concordia-processador-amd-ryzen-5-3400g-16gb-ssd-480gb-rgb-linux-preto-30642_1637669422_m.jpg"
                  class="card-img-top"
                  alt="pc-gamer-top-concordia-processador-amd-ryzen-5-3400g-16gb-ssd-480gb-rgb-linux-preto-30642_1637669422_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/pc-gamer/pc-gamer-redragon-arius-amd-rayzen-4700s-rgb-radeon-rx-550-2gb-ddr5-16gb-gddr6-ssd-256gb-windows-10-trial-preto-40628_1634309069_m.jpg"
                  class="card-img-top"
                  alt="pc-gamer-redragon-arius-amd-rayzen-4700s-rgb-radeon-rx-550-2gb-ddr5-16gb-gddr6-ssd-256gb-windows-10-trial-preto-40628_1634309069_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/pc-gamer/pc-gamer-concordia-processador-core-i5-10400f-rgb-gtx1650-8gb-ram-ssd-480-preto-32726_1647863305_m (1).jpg"
                  class="card-img-top"
                  alt="pc-gamer-concordia-processador-core-i5-10400f-rgb-gtx1650-8gb-ram-ssd-480-preto-32726_1647863305_m"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- FOOTER -->
</div>
