<div class="background">
  <div class="container text-white mt-5 py-5 register">
    <div class="py-5 text-center">
      <h1><i class="bi bi-person-plus me-3"></i></h1>
      <h2>Cadastro de Produtos</h2>
    </div>
    <div class="container d-flex">
      <div class="row g-5 justify-content-center fs-5">
        <div>
          <div>
            <div class="row g-3">
              <form class="needs-validation" novalidate=""></form>
              <div>
                <label for="product" class="form-label">Produto</label>
                <input
                  type="text"
                  class="form-control"
                  id="product"
                  placeholder="Nome do Produto"
                  value=""
                  required=""
                />
                <div class="invalid-feedback">Nome do produto obrigatório</div>
              </div>

              <div>
                <label for="category" class="form-label">Categoria</label>
                <input
                  type="text"
                  class="form-control"
                  id="category"
                  placeholder="Qual a Categoria do produto?"
                  value=""
                  required=""
                />
                <div class="invalid-feedback">Categoria é obrigatório</div>
              </div>

              <div>
                <label for="price" class="form-label">Valor R$</label>
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="price"
                  placeholder="R$ 0,00"
                  required=""
                />
                <div class="invalid-feedback">O valor não foi preenchido</div>
              </div>
            </div>
            <div class="col d-flex">
              <button
                class="w-100 btn btn-outline-danger btn-lg mt-5 me-5"
                type="submit"
              >
                Deletar
              </button>

              <button
                class="w-100 btn btn-outline-light btn-lg mt-5 me-3 ms-5"
                type="submit"
              >
                Listar
              </button>

              <button
                class="w-100 btn btn-outline-info btn-lg mt-5 me-3"
                type="submit"
              >
                Atualizar
              </button>
              <button
                (click)="criarProduto()"
                class="w-100 btn btn-outline-success btn-lg mt-5"
                type="submit"
              >
                Cadastrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
