<div class="background">
  <!-- HEADER -->

  <!-- MAIN -->
  <main>
    <div class="py-5 mt-5 hero-pages">
      <img
        src="/../assets/img/products/games/hero-games.jpg"
        alt="Rapaz sentado em frente ao pc gamer jogando..."
      />
    </div>
    <section>
      <div class="container py-4">
        <div class="pb-3 mb-4 border-bottom">
          <span class="fs-4 text-white"
            ><i class="bi bi-joystick me-3"></i> Jogos</span
          >
        </div>

        <div>
          <div class="row row-cols g-4 mt-3 py-3">
            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/games/hero-games.jpg"
                  class="card-img-top"
                  alt="jogo arma"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/games/bordlands.png"
                  class="card-img-top"
                  alt="jogo bordlands"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/games/cyberpunk2077.png"
                  class="card-img-top"
                  alt="jogo cyberpunk2077"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/games/disco-elysium.png"
                  class="card-img-top"
                  alt="jogo disco-elysium"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/games/euro-truck.png"
                  class="card-img-top"
                  alt="jogo euro-truck"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/games/forming-simulador.png"
                  class="card-img-top"
                  alt="jogo forming-simulador"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/games/fortinite.png"
                  class="card-img-top"
                  alt="jogo fortinite"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/games/grad-theft-auto.png"
                  class="card-img-top"
                  alt="jogo grad-theft-auto"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/games/green-hell.png"
                  class="card-img-top"
                  alt="jogo green-hell"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/games/hunt.png"
                  class="card-img-top"
                  alt="jogo hunt"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/games/lords-fallen.png"
                  class="card-img-top"
                  alt="jogo lords-fallen"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img
                  src="../assets/img/products/games/moto-sport-manager.png"
                  class="card-img-top"
                  alt="moto-sport-manager"
                />
                <div class="card-body">
                  <h5 class="card-title">Descrição do Produto...</h5>
                  <p class="card-text">R$ 999,99</p>
                </div>
                <div class="card-footer text-end">
                  <small class="btn btn-outline-light">Comprar...</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- FOOTER -->
</div>
